body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}
.middle {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;

}
.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    background: #fff5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
}
.inventory {
    border: 1px solid black;
    background: white;
}
.items {
    margin: 5px;
    border: 1px solid black;
    height: 300px;
}
.item {
    background: #fffc;
    width: 48px;
    height: 48px;
}
.selectedItems {
    margin: 5px;
    border: 1px solid black;
    height: calc(100% - 260px);
    
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
    padding: 2px;
}
.hidden {
    display: none !important;
}

.middleBottom {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.selected {
    border: 3px ridge black;
    width: 43px;
    height: 43px;
}
.selectionItems {
    background-color: #ccc;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    padding: 5px;
    margin: 5px;
}

.start {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start button {
    width: 200px;
    height: 32px;
}